/*Lương Kim Thiện-2021040082*/
[title~="flower"] {
  border: 5px solid yellow;
}
[class*="te"] {
  background: yellow;
}
input[type="text"] {
  width: 150px;
  display: block;
  margin-bottom: 10px;
  background-color: yellow;
}

input[type="button"] {
  width: 120px;
  margin-left: 35px;
  display: block;
}
/*đây là lần thay đổi thứ 43*/
