/*Lương Kim Thiện-2021040082*/
img {
  float: right;
}
* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 50px; /* if you want space between the images */
}
/*đây là lần thay đổi thứ 33*/
